#stats-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 80px 40px;
	background-color: #05e5ff;
}

.stats-card {
	margin: 40px;
}

.stat-title {
	text-align: center;
	font-size: 32px;
	font-weight: 500;
	margin-bottom: 8px;
}

.stat-body {
	color: #5b5e53;
}
