*,
*::after,
*::before {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
}

#banner {
	height: calc(100vh - 80px);
}

#main-content {
	height: 200vh;
}
